# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.mtj.tmp/
server/target/

# Node / Angular
node_modules/
client/dist/
client/.angular/
*.log

# IDE
.idea/
*.iml
.vscode/
